.jumbotron > h1 {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color:rgb(11, 3, 3); 
    font-family: SHRIMP;
}
h1 {

    color:rgb(11, 3, 3); 
    font-family: SHRIMP
 }
h3 {

    color:rgb(11, 3, 3); 
    font-family: SHRIMP
 }
p {

    color:rgb(11, 3, 3); 
    font-family: SHRIMP
 }
h5 {

    color:rgb(11, 3, 3); 
    font-family: SHRIMP
 }
 div {
    color:rgb(11, 3, 3);
    font-family: SHRIMP
 }